.beid-form-bg {
    display: none;
    position: fixed;
    z-index: 1002;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.493);
}
.beid-form-features-block
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.beid-form-features-input-block
{
    width: 90%;
}
.beid-form-delete-feature
{
    display: block;
    width: fit-content;
    cursor: pointer; 
    border:none;
    color: red;
    background: none;
    transition: 0.3s;
}
.beid-form-delete-feature:hover
{
    color: rgb(94, 2, 2);
}

.beid-form-delete-feature:before
{
    content: "×";
    font-size: 24px;
}
.d-none
{
    display: none;
}
.beid-add-feature
{
    display: flex;
    gap:5px;
    margin-bottom: 10px;
}

.beid-form-content {
    background-color: #fefefe;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 15% auto;
    padding: 30px 15px;
    border: 5px solid #42ad50;
    outline: 5px solid #979aaa;
    width: 400px;
    height: 530px;
}

.beid-form-fields
{
    flex: 1 0 auto;
    max-height: 250px;
    margin-bottom: 10px;
    overflow: auto;
}
.beid-btn-success
{
    background-color: #42ad50;
    padding: 10px 25px;
    color: white;
    border:none;
    border-radius: 15px;
    transition: 0.5s;
}

.beid-btn-success:hover
{
    background-color: #3e6644;
    color: white;
}
.beid-form-features-input
{
    border: 2px solid #979aaa;
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;
}
.close {
    color: #aaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}